header{
    grid-area: header;
    background-color:$fondo;
    color: $colorfuente;
    font-family: $miletraprincipal;
    @include medidas (none, none, 10px, none);
}
.navbar{
    display: flex;
    justify-content: center;
        a{
        text-decoration: none;
            &:hover{
            color: aqua;}
                nav ul {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    flex-direction: row;
}}}